<div class="container">
    <br />
    <br />
    <br />
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab" >
                    <a href [class.active]="category == 'all'" [routerLink] = "['/categories', 'all']">See all</a>
                </li>
                <li class="tab"  *ngFor="let category of categories">
                    <a href [class.active]="category == showCategory" [routerLink]="['/categories', category]">{{category}}</a>
                </li>
            </ul>
        </div>
        <div class="col s12" *ngFor="let entry of entries">
            <div *ngIf="isActive(entry)" [@isActive]="isActive(entry)">
                <entry-viewer [entry]="entry"></entry-viewer>
            </div>
        </div>
    </div>
    



    <br />
</div>